
{{- $id := .Get 0 -}}
{{- $string := .Get 1 -}}
<!--<p>-->
<!--
{{ if $id  | eq "uno" }}
<a href="">Este vínculo {{$string}}</a> &nbsp {{end}}
--><!---->
{{ if $id  | eq "pilarabismos" }}
<a href="https://www.amazon.com/gp/product/B08TTCNG53/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08TTCNG53&linkCode=as2&tag=tecnomenal-20&linkId=935f33c631799e4d282edf42453ac3c1">{{$string}}</a> &nbsp {{end}}
{{ if $id  | eq "rupikaurtlqn" }}
<a href="https://www.amazon.com/gp/product/B08SV41WWT/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08SV41WWT&linkCode=as2&tag=tecnomenal-20&linkId=2d4f4a9a1ac63504ae420583528d8d58">{{$string}}</a> &nbsp {{end}}
{{ if $id  | eq "siramariaduenas" }}
<a href="https://www.amazon.com/gp/product/8408241915/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8408241915&linkCode=as2&tag=tecnomenal-20&linkId=79a666c9fe7aff473091010cb6d0e8db">{{$string}}</a> &nbsp {{end}}
{{ if $id  | eq "jmariastomasn" }}
<a href="https://www.amazon.com/gp/product/B08QYZ64G6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08QYZ64G6&linkCode=as2&tag=tecnomenal-20&linkId=12c3e00a1644dad376598c67b4cc7197">{{$string}}</a> &nbsp {{end}}
{{ if $id  | eq "pilarabismosno" }}
<a href="https://www.amazon.com/gp/product/B08TTCNG53/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08TTCNG53&linkCode=as2&tag=tecnomenal-20&linkId=935f33c631799e4d282edf42453ac3c1">{{$string}}</a> &nbsp {{end}}



<!--</p>-->
