{{- $id := .Get "id" | default (.Get 0) -}}
<div class="aawp">

            
            
<div class="aawp-product aawp-product--vertical" data-aawp-product-id="B092DDKLN3" data-aawp-product-title="AutoFull - Silla de oficina silla para videojuegos con soporte lumbar ergonómico estilo de carreras piel sintética respaldo alto ajustable giratoria con reposapiés color azul" data-aawp-click-tracking="title">

    
    <a class="aawp-product__image--link aawp-product__image" href="https://www.amazon.com.mx/dp/B092DDKLN3?tag=agoragamer-20&amp;linkCode=ogi&amp;th=1&amp;psc=1" title="AutoFull - Silla de oficina, silla para videojuegos con soporte lumbar ergonómico, estilo de carreras, piel sintética, respaldo alto, ajustable, giratoria, con reposapiés, color azul" rel="nofollow" target="_blank">
        <img class="aawp-product__image" src="https://m.media-amazon.com/images/I/41wOi+hfbCS.jpg" alt="AutoFull - Silla de oficina, silla para videojuegos con soporte lumbar ergonómico, estilo de carreras, piel sintética, respaldo alto, ajustable, giratoria, con reposapiés, color azul">
    </a>

    <div class="aawp-product__content">
        <a class="aawp-product__title" href="https://www.amazon.com.mx/dp/B092DDKLN3?tag=agoragamer-20&amp;linkCode=ogi&amp;th=1&amp;psc=1" title="AutoFull - Silla de oficina, silla para videojuegos con soporte lumbar ergonómico, estilo de carreras, piel sintética, respaldo alto, ajustable, giratoria, con reposapiés, color azul" rel="nofollow" target="_blank">
            AutoFull - Silla de oficina, silla para...        </a>

        <div class="aawp-product__meta">
                                                                <span class="aawp-product__reviews">(129)</span>
                            
            <a class="aawp-check-prime" href="https://www.amazon.com.mx/gp/prime/?tag=agoragamer-20" title="Amazon Prime" rel="nofollow" target="_blank"></a>        </div>
    </div>

    <div class="aawp-product__footer">

        <div class="aawp-product__pricing">

            
                    </div>

                <a class="aawp-button aawp-button--buy aawp-button aawp-button--amazon aawp-button--icon aawp-button--icon-black" href="https://www.amazon.com.mx/dp/B092DDKLN3?tag=agoragamer-20&amp;linkCode=ogi&amp;th=1&amp;psc=1" title="Ver en Amazon" target="_blank" rel="nofollow">Ver en Amazon</a>
            </div>
</div>

    
</div>

<div class="wp-block-columns">
    <div class="wp-block-column">
    <p class="has-text-align-center"><strong>Razones para Comprarla</strong></p>



    <ul><li><strong>Funcionalidad</strong>: reposabrazos 2D; reclinación hasta 170°; tensión de inclinación y balanceo.</li><li><strong>Confort</strong>: acolchado de espuma resistente; almohada en el reposacabezas; concepto de almohada lumbar mejorado</li><li><strong>Garantía</strong>: 3 años de garantía</li></ul>



    <p><br></p>
    </div>



    <div class="wp-block-column">
    <p><strong>Ficha Tecnica</strong></p>



    <ul><li><strong>Anchura x profundidad del asiento:</strong> 53 cm (ancho) x 53 cm (fondo)</li><li><strong>Anchura x altura del respaldo</strong>: 59 cm (ancho) x 81,7 cm (alto)</li><li><strong>Rango del suelo al asiento:</strong> 44-52 cm</li><li><strong>Clasificación por tamaños:</strong> 57-187 cm; 181 kg de capacidad de peso</li></ul>
    </div>
</div>