<div id="list-builder"></div>
<div id="popup-box">
    <img src="close.png" id="popup-close" />
    <div id="popup-box-content">
        <h1>Subscribe to The Polyglot Developer Newsletter</h1>
        <p>
            Stay up to date on the latest in web, mobile, and game development, plus receive exclusive content by
            subscribing to our newsletter.
        </p>
        <form id="popup-form" action="https://email_list_service_api.com">
            <input type="hidden" name="list" value="key_list_etc" />
            <input type="text" name="name" placeholder="Full Name" />
            <input type="text" name="email" placeholder="Email Address" />
            <button type="button" name="subscribe">Subscribe</button>
        </form>
    </div>
</div>